*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body.theme-dark {
    background-color: #000;
}

body.theme-light {
    background-color: #fff;
}

.container{
    width: 100%;
    min-width: 100vh;
    padding: 10px;
    /* background: linear-gradient(135deg, #198691, #1fd6bd); */
}
.todo-app{
    width: 100%;
    max-width: 540px;
    /* background: #fff; */
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #198691;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.logo{
    
    margin-left: 10px;
    height: 50px;
    padding-bottom: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    font-size: 16px;
}
button.add-task{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
.todo-app ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #fff;
}

.theme-dark .todo-app ul li {
    color: #fff;
}


.theme-light .todo-app ul li {
    color: #000;
}

.todo-app ul li::before{
    content: '';
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-image: url(img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}
.todo-app ul li.checked{
    color: #555;
    text-decoration: line-through;
}
.todo-app ul li.checked::before{
    background-image: url(img/checked.png);
}
.todo-app ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    margin-right: 10px;
}
.todo-app ul li span:hover{
    background: #ff5945;
    color: #fff;
}

#box {
    width: 250px;
    padding: 10px;
    background: #22272e;
    border-radius: 10px;
    /* display: none;
     */
    margin: 10px auto;
}
#box-head {
    color: #adbac7;
    font-size: 12px;
    padding: 8px;
    text-align: center;
}
#box-body {
    color: #adbac7;
    background: #ffffff;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f5f5f5;
} */

/* Targeting the WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #ff5945; /* Blue color for the thumb */
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff; /* White color for the track */
    border-radius: 6px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Optional: Handle when hovering over the scrollbar */
::-webkit-scrollbar-thumb:hover {
    background-color: #ff5945; /* Darker blue color on hover */
}

#theme-toggle {
    /* background-color: #000; */
}

#sun {
    display: none;
}

#moon {
    display: none;
}